*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
::selection{
    background-color: black;
    color: white;
}

.w3-animate-opacity{
    background-image: url(../images/bg1.jpg);
}

/* Sign In Styling */
/*.recover_logo{
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}
.recover_logo a{
    color: black;
    font-size: 75px;
    font-weight: 600;
    z-index: 5;
}
.recover_logo a span{
    color: crimson;
}*/
.recover_card{
    position: absolute;
    font-family: 'Poppins', sans-serif;
    top: 50%;
    left: 50%;
    width: 500px;
    transform: translate(-50%, -50%);
    border: 2px solid crimson;
    box-shadow: 1px 1px 10px rgba(220, 20, 60, 0.541);
    border-radius: 10px;
    margin-top: 20px;
}
.recover_card h1{
    text-align: center;
    padding: 10px 0 20px 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 30px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.5);
}
.recover_index{
    padding: 0 40px;
    box-sizing: border-box;
}
.recover_index .email{
    position: relative;
    margin: 45px 0;
    border-bottom: 2px solid #adadad;
}
.recover_index .nickname{
    position: relative;
    margin: 40px 0;
    border-bottom: 2px solid #adadad;
}
.recover_index .new_password{
    position: relative;
    margin: 45px 0;
    border-bottom: 2px solid #adadad;
}
.recover_index .confirm_password{
    position: relative;
    margin: 45px 0;
    border-bottom: 2px solid #adadad;
}
/*.recover_index .otp_entered{
    position: relative;
    margin: 40px 0;
    border-bottom: 2px solid #adadad;
}*/
.recover_index input{
    height: 40px;
    width: 100%;
    border: none;
    background: none;
    outline: none;
    padding: 0px 5px;
    font-size: 16px;
    transition: all 0.3s ease;
}
.recover_index label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: 0.5s ease;
}
.recover_index span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: rgb(255, 23, 70);
    transition: 0.5s ease;
}
.recover_index input[name="email"]:focus ~ label,
.recover_index input[name="nickname"]:focus ~ label,
.recover_index input[name="new_password"]:focus ~ label,
.recover_index input[name="confirm_password"]:focus ~ label,
/*.recover_index input[name="otp_entered"]:focus ~ label,*/
.recover_index input[name="email"]:valid ~ label,
.recover_index input[name="nickname"]:valid ~ label,
.recover_index input[name="new_password"]:valid ~ label,
.recover_index input[name="confirm_password"]:valid ~ label
/*.recover_index input[name="otp_entered"]:valid ~ label*/{
    top: -5px;
    color: rgb(255, 23, 70);
}
.recover_index input[name="email"]:focus ~ span::before,
.recover_index input[name="nickname"]:focus ~ span::before,
.recover_index input[name="new_password"]:focus ~ span::before,
.recover_index input[name="confirm_password"]:focus ~ span::before,
/*.recover_index input[name="otp_entered"]:focus ~ span::before,*/
.recover_index input[name="email"]:valid ~ span::before,
.recover_index input[name="nickname"]:valid ~ span::before,
.recover_index input[name="new_password"]:valid ~ span::before,
.recover_index input[name="confirm_password"]:valid ~ span::before
/*.recover_index input[name="otp_entered"]:valid ~ span::before*/{
    width: 100%;
}
.back_to_signin{
    margin-top: -10px;
    margin-bottom: 10px;
    margin-left: 5px;
    width: 40%;
    color: crimson;
    cursor: pointer;
}
.back_to_signin:hover{
    text-decoration: underline;
}
.recover_index .button button{
    margin-top: 20px;
    width: 100%;
    height: 50px;
    border: 2px solid crimson;
    background: crimson;
    color: #fff;
    outline: none;
    font-size: 20px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.recover_index .button button:hover{
    color: crimson;
    background: none;
}
.signup_link{
    margin: 20px 0;
    text-align: center;
    font-size: 16px;
    color: #666666;
    border-top: 1px solid rgba(128, 128, 128, 0.5);
}
.signup_link a{
    color: crimson;
    text-decoration: none;
}
.signup_link a:hover{
    text-decoration: underline;
}